@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

.Urgent {
  @apply bg-red-700;
}
.High {
  @apply bg-red-400;
}
.Moderate {
  @apply bg-indigo-400;
}
.Low {
  @apply bg-amber-200;
}
